body{
    background-color: #007bff;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
button {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}

button {
    background-color: #06192d;
   
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #0056b3;
    color: white;
}
